{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CryptWeb</title>
{% endblock meta %}

{% block content %}
</nav>
<div class="container">
    <div class="jumbotron" id="jumbo">
        <div class="row1">
            <div class="column" id="first">
                K
            </div>
            <div class="column" id="second">
                R
            </div>
            <div class="column" id="third">
                I
            </div>
            <div class="column" id="fourth">
                P
            </div>
            <div class="column" id="fifth">
                T
            </div>
            <div class="column" id="sixth">
                O
            </div>
            <div class="column" id="seventh">
                -
            </div>
            <div class="column" id="eighth">
                -
            </div>
        </div>
        <div class="line" id="line">
        </div>
        <div class="heading">
            <h2>Enkripsi dan Dekripsi Text</h2>
            <p>Siti Habibatul Ma'rifah - 18610075</p>
        </div>
    </div>
    <div class="encrypt-decrypt">
        <div class="encrypt-box">
            <div class="encrypt-upper">
                <h2>Enkripsi dengan Algoritma AES</h2>
                <h4>Input Plaintext</h4>
                <textarea type="text" id="raw-data" class="box1" placeholder="Masukkan plain text anda"></textarea>
                <h4>Input Kunci</h4>
                <input type="text" minlength="4" id="enc-password" class="password"
                    placeholder="Masukkan kunci enkripsi">
                <button class="btn btn-light btn-md btn-position" onclick="encr()">Encrypt</button>
            </div>
        </div>
        <div class="decrypt-box">
            <div class="decrypt-upper">
                <h2>Dekripsi dengan Algoritma AES</h2>
                <h4>input Ciphertext</h4>
                <textarea type="text" id="cipher-data" class="box2"
                    placeholder="Masukkan cipher text anda"></textarea>
                <h4>Input Kunci</h4>
                <input type="text" minlength="4" id="dec-password" class="password"
                    placeholder="Masukkan kunci dekripsi">
                <button class="btn btn-light btn-md btn-position" onclick="decr()">Decrypt</button>
            </div>
        </div>
    </div>
    <div class="result1">
        <div class="encrypt-bottom">
            <h3>Encrypted Text</h3>
            <textarea readonly id="display1" class="output1"></textarea>
        </div>
        <div class="decrypt-bottom">
            <h3>Decrypted Text</h3>
            <textarea readonly id="display2" class="output2"></textarea>
        </div>

    </div>
    </div>
{% endblock content %}
